/*CSS Reset*/
body { background: #000; min-width: 1490px; word-break: break-all; word-wrap: break-word; font: normal 14px/1.8 "Microsoft YaHei", \5b8b\4f53, "Simsun", "Arial", "tahoma"; color: #fff; }
textarea { resize: none; }
a { color: #333; text-decoration: none; }
a:hover { text-decoration: underline }
.oz{ overflow: hidden; *zoom:1;}
.relative { position: relative; zoom: 1; }
.absolute { position: absolute; zoom: 1; }
.btn{ background: url(../img/btn.png) no-repeat; }
.wrapper{ background: url(../img/bg.jpg) center top no-repeat; height: 1000px;}
.wrapper-in{width: 1490px ; margin: 0 auto;}
.header{ width: 265px; margin: 0 auto;}

.logo-box{ height: 178px; position: relative;}
.t-hide{ text-indent: -9999px;}
.logo{ position: absolute; }
.act-logo{ top: 43px; width: 130px; height: 78px;  right: 0}
.game-logo{ top: 15px; left: 0; width: 93px; height: 108px;}

.register-box{ height: 360px;  position: relative;}
.register-box .bul-txt{position: absolute;  right: 10px; top: 0; width: 54px; color: #fff }
.btn-box{ padding: 0 29px;}
.btn-box a{ display: inline-block; width: 153px; height: 41px; *display: inline; *zoom:1; }
.btn-box p{ line-height: 26px;}
.btn-box .p1{ color: #d34e08; font-size: 16px;  text-align: center; }
.btn-get{ background-position: -160px -96px;}
.btn-prize{ background-position: -160px -144px;}
.btn-download{ background-position:0 -48px; }
.btn-zan{ background-position:0  -96px; margin-left: 50px; }
.btn-zan2{width: 222px; height: 67px; display: block; background-position: -216px -202px; margin: 50px 0  0 300px;}

.icon-fl{width: 46px; height: 43px; background-position:-152px -208px;font-style: normal;  padding: 2px 6px; position: absolute; left: -5px; top: 0; font-size: 16px; line-height: 18px;}
.icon-bg{ float: left; width: 18px; margin: 3px 2px 0 0; height: 19px; background-position: -400px 0; color: #fff; text-align: center; line-height:19px;  font-style: normal;}
.btn-list em{ font-size: 50px; margin-right: 7px; font-family: 'Haettenschweiler', 'Microsoft YaHei'; color: #fff; float: left; margin-top: 4px; }
.btn-list li{ padding: 15px 0;  position: relative;}
.icon-bubble{position: absolute; width: 117px; height: 46px; background-position: -272px 0; left: 40px; top: -46px; line-height:  36px; text-align: center;  color: #fff;}

.container{ width: 1088px; float: left;}
.nav-box { text-align: right; padding-right: 128px}
.nav-box a{ padding: 2px 8px; background: #730e12; color: #fff;}



.focus-w{ margin-top: 280px;}
.focus-w{ overflow:hidden; zoom:1; width:1088px; height:670px}
.focus-con{/*position: relative;*/width: 900px; height: 545px;}
.focus-item{ width: 900px; height: 545px; overflow: hidden; position: relative; }
/*.focus-item img{ width:100%; height:100%}*/

.focus-num{ overflow:hidden;  height:124px; margin-top:40px; }
.focus-num a{  display: inline-block; *display: inline; text-align: center; *zoom:1; width: 252px; position: relative; }
.focus-num a .txt{ display: block; color: #fff; font-size: 16px;}
.focus-num a:hover{ text-decoration:none}
.focus-num .current{ color:#191919; background-position: -184px 0}

.focus-con .forward{ left: auto; right: -150px; position: absolute; width: 117px; height: 117px; background:url(../img/btn.png) 0 -144px no-repeat;  top:35%;  cursor: pointer;}

.lottery-box{ background: url(../img/lotterybg.jpg) no-repeat; width: 703px; height: 441px; margin-left: 65px;}
.focus-num .current .icon-num{ width: 50px; height: 50px;   background-position: -184px 0; top: 26px; left: 96px;}
.focus-num .current .txt{ color: #ff662d; font-weight: bold;}
.icon-num{position: absolute; display:inline-block;  width:18px; height: 18px;  background-position:-240px 0px ; left: 109px; top: 44px; }


.focus-item .hd{  padding:15px 0;}
.hd1{ background: url(../img/btn.png) 0 -272px no-repeat; height: 40px; margin-left: 220px;}
.act-time{ color: #730e12; font-size: 16px; font-weight: bold; margin-left: 220px;}

.game { }
.game .move { background: url(../img/fly.png) no-repeat; width: 108px; height: 91px; position: absolute; left: 7px; top: 8px; display: block; z-index: 1 }
.box-num { width: 297px; height: 154px; position: absolute; cursor: pointer; left: 176px; top: 135px; }
.box-num span { display: block; }
.box-num .touzi {  width: 100px; height: 160px; position: absolute; left: 8px; top: 15px; /*background: url(../img/touzi.gif) no-repeat 0 0; */cursor: pointer; }
.box-num .rolling { background: url(../img/touzi.gif) no-repeat -100px 0; }
.box-num .touzi-1 { background: url(../img/1.png) no-repeat 25px 102px; }
.box-num .touzi-2 { background: url(../img/2.png) no-repeat 25px 102px; }
.box-num .touzi-3 { background: url(../img/3.png) no-repeat 25px 102px; }
.box-num .touzi-4 { background: url(../img/4.png) no-repeat 25px 102px; }
.box-num .touzi-5 { background: url(../img/5.png) no-repeat 25px 102px; }
.box-num .touzi-6 { background: url(../img/6.png) no-repeat 25px 102px; }


.hd2{ background: url(../img/btn.png) 0 -318px  no-repeat; height: 40px; margin-left: 93px;}


.act-rule{ background: url(../img/bg1.jpg) no-repeat; width: 616px; height: 266px; margin: 60px 0 0 60px; padding: 25px 15px; }

.act-left{ width: 346px;}
.act-right{width: 234px;}
.act-right .bd{ padding:20px 0; text-align: center;}
.act-right .p1{ font-size: 36px; color: #2f0102}
.act-right .p2{ font-size: 16px; color: #2f0102}

h3{ font-size: 24px; color: #fff; border-left: 4px solid #ff000b; height: 24px; line-height: 24px; padding-left: 5px; }

.btn-zan1{ width: 279px; height: 100px; display: block; margin:30px 0 0  250px;  background-position: 0 -368px; }
.pn-scroll{ *zoom:1; position:relative; margin-left: 80px; width: 651px; height: 348px; border: 4px solid #e14a1e; border-radius: 2px;}
.pn-scroll .scroll-box{ position:relative; overflow:hidden; width: 651px; height: 348px;}
.pn-scroll .scroll-con{white-space:nowrap; font-size:0; vertical-align:top; position: relative;  overflow:visible; width: 651px; height: 348px;}
.pn-scroll .scroll-item{display:inline-block; float:none; *display:inline; *zoom:1; width: 651px; height: 348px; vertical-align:top; position:relative;}
.pn-scroll .scroll-btn{ width: 50px; height: 45px; top: 138px;  left: 0; color: #000; background: url(../img/btn.png ) -368px -72px no-repeat;   position: absolute; z-index:8; overflow:hidden;}
.pn-scroll .scroll-box{  margin: 0 auto;}
.pn-scroll .scroll-box img{ width: 651px; height: 348px}
.pn-scroll .scroll-bt-next{ right: 0; left: auto; background-position: -424px -72px;}
.pn-scroll .scroll-btn:hover{ color: #ff5e5e}


.carousel{position:relative ; margin-left: 80px; width: 651px; border: 4px solid #e14a1e; border-radius: 2px; }
.carousel .scroll-a{width: 50px; height: 45px; top: 138px;  left: 0; color: #000; background: url(../img/btn.png ) -368px -72px no-repeat;   position: absolute; z-index:8; overflow:hidden}
.carousel .bt-next{right: 0; left: auto; background-position: -424px -72px;}
/*.carousel .bt-next:hover{background-position:-312px -168px}
*/
.pic-list1{ width: 651px; height: 348px;}
.pic-list1 li{ float: left;width: 651px; height: 348px;}
.pic-list1 a{position:relative;width:1000px;height:500px; float: left;}
.pic-list1 img{width: 651px; height: 348px;}

/*.pn-scroll{ *zoom:1; position:relative; margin:0 auto; width: 46.9%;}
.pn-scroll .scroll-box{ position:relative; overflow:hidden;}
.pn-scroll .scroll-con{white-space:nowrap; font-size:0; vertical-align:top; position: relative; overflow:visible;}
.pn-scroll .scroll-item{display:inline-block; float:none; *display:inline; *zoom:1; width:100%; vertical-align:top; position:relative;}
.pn-scroll .scroll-btn{top: 74px;  left: 0; font-size: 100px; color: #000;  font-family: 'import';  position: absolute; z-index:8; overflow:hidden;}
.pn-scroll .scroll-box{ width: 230px; height: 310px; margin: 0 auto;}
.pn-scroll .scroll-bt-next{right: 0; left: auto;}
.pn-scroll .scroll-btn:hover{ color: #ff5e5e}

.pn-scroll  { background: url(../img/bg4.jpg) bottom center no-repeat; padding-bottom: 37px;}*/


/*footer*/
.footer { padding: 60px 0; background: url(../img/bg-footer.jpg) no-repeat center 0; }
.footer a { display: inline-block; margin: 0 3px; }
.footer, .footer a { text-align: center; font-size: 12px; color: #fff; }
#cover { position: absolute; z-index: 9998; top: 0; margin-top: -30px; background: #000; filter: Alpha(opacity=50); opacity: 0.5; }
.vd-ct { display: none; position: absolute; z-index: 9999; width: 800px; height: 540px; border: 2px solid #000; background: #000000; }
.vd-ct .btn-closepop { position: absolute; top: 0; right: 0; height: 39px; width: 41px; background: url(../img/btn-closepop.jpg) no-repeat; cursor: pointer; }
.vd-ct .vd-con { margin: 40px 0 0; }



.pic-screen{ /*border:1px solid #c4daf0; */clear:both}
.pic-screen .hd{ background:url(http://ue2.yeyou.itc.cn/images/www/2012/tpyl-con-bg.png) 0 -240px repeat-x; height:37px; border-bottom:1px solid #d9e9f9; line-height:37px;}
.pic-screen .bd{/* height:156px;*/ overflow:hidden; padding:0 10px;}

a.browse {width: 50px; height: 45px; top: 138px;  left: 0; color: #000; background: url(../img/btn.png ) -368px -72px no-repeat;   position: absolute; z-index:8; overflow:hidden;}
a.right {right: 0; left: auto; background-position: -424px -72px;}
a.left { }
.scrollable { float: left; position:relative;overflow:hidden;width: 651px; height: 348px;   }
.scrollable .items {width: 20000em;position: absolute;clear: both;}
.items div { float:left;width: 651px;}
/* single scrollable item */
.scrollable .pic{ width: 651px; height: 348px; display:block; float:left;  overflow:hidden;  }
.scrollable .pic img {width: 651px; height: 348px}
/* active item */
.scrollable .active {border:2px solid #000; position:relative;cursor:default;
}

.scrollable .pic .title{ display:block; font-size:14px; color:#333333; cursor:pointer; width:98%; text-align:center; margin-top:5px;}
.scrollable .pic:hover { text-decoration:none; color:#000}
.scrollable .pic:hover img{ border: 1px solid #000;}
