/*common reset*/
*{ font-size: 14px; color: #333;  }
a{ text-decoration: none;}
em,i{ font-style: normal;}
h2 { font-size: 18px; font-weight: bold; color: #333}
h3{font-size: 25px; color: #333; font-weight: bold;  line-height: 45px;}

img{ border:0;}
html{ background: #fff;font-family: 'microsoft Yahei'}
.c1{ color: #fe4d4d;}
.c2{ color: #333}
h2 .en{ font-size: 14px; font-family: 'Times New Roman'}
img {vertical-align: middle;}
.mt20{ margin-top: 20px;}
/*common*/
.icon{ background:url(../img/icon.png) no-repeat; display: inline-block; *display: inline; *zoom:1;}
.icon-home{ width: 26px; height: 26px; background-position: -104px -72px; }
.icon-server{ background-position: -24px 0; width: 30px; height: 25px;}
.icon-jiameng{ background-position: -64px 0; width: 28px; height: 27px;}
.icon-system{ background-position: -96px 0; width: 27px; height: 26px;}
.icon-manage{ background-position: -128px 0; width: 30px; height: 30px;}
.icon-contact{ background-position: -168px 0; width: 25px; height: 28px;}

.con-in{ width: 1000px; margin: 0 auto; position: relative;}
.pa{ position: absolute;}
.header{ height: 70px; background:#fff;}
.menu-list li{ float: left; width: 108px; text-align: center;}
.menu-list .txt{ display: block; color: #333; font-size: 16px; line-height: 26px;}
.menu-list .icon-box{ display: block; height: 30px;}
.menu-list a{ display: inline-block; *display: inline; *zoom:1;  padding: 10px 0 0; height: 60px; width: 100%}

.menu-list a:hover { background: #cd5e27}
.menu-list a:hover .txt{ color: #fff;}
.menu-list a:hover .icon-home{background-position: -104px -104px;}
.menu-list a:hover .icon-server{background-position: -24px -40px;}
.menu-list a:hover .icon-jiameng{background-position: -64px -40px;}
.menu-list a:hover .icon-system{background-position: -96px -40px;}
.menu-list a:hover .icon-manage{background-position: -128px -40px;}
.menu-list a:hover .icon-contact{background-position: -168px -40px;}

.footer{ background: #dedede; height: 100px; line-height: 100px; text-align: center;}


/*0*/
/*.banner {position: relative;overflow: auto;}
.banner ul li {float: left;}
.banner .arrows {display: none;}
.banner:hover .arrows, .banner.hover .arrows {display: block;}
 @media only screen { .banner .arrows {
 -webkit-transition: opacity 0.4s;
transition: opacity 0.4s;opacity: 0;display: block;}
 .banner:hover .arrows,  .banner.hover .arrows { opacity: 1;}}
.banner .arrows {position: absolute;	z-index: 20;}
.banner .arrows .prev, .banner .arrows .next {position: absolute;width: 76px;height: 77px;font: 0/0 a;color: transparent;cursor: pointer;}
.banner .arrows .prev {left: 30px;background: url(../images/slide_arrow_left.png) no-repeat;}
.banner .arrows .next {left: 900px;background: url(../images/slide_arrow_right.png) no-repeat;}

 .banner ul li {height: 630px;}
 .banner .arrows {top: 270px;}
 .dots {position: absolute;width: 10px;height: 160px;top: 20%; right: 10px;   text-align: center;font-size: 15px;}
 .dot {float: left;width: 20px;height: 20px; overflow: hidden; text-indent: -111px; background: url(../img/icon.png) -48px -112px no-repeat;   cursor: pointer;}
 .active { background-position: -48px -88px; }
*/


.focus-con{position: relative;   overflow: hidden; *zoom:1; max-height: 700px;}
.focus-con,.focus-item,.focus-item .img{ width: auto; }
.focus-item img{ width:100%; height:100%}
.focus-item .txt{ overflow:hidden; white-space:nowrap}
.focus-item .txt:hover .tit{ text-decoration: none;}

.focus-item  span{position: absolute; padding:8px 10px; left: 20px; background-color:#000; opacity: 0.7; cursor: pointer;  filter:alpha(opacity:70); color:#fff}
.focus-item .tit{   bottom: 64px;  font:normal 20px/30px "\5fae\8f6f\96c5\9ed1"; }
.focus-item .s-tit{ bottom: 20px;  font-size: 12px;}
.focus-item a:hover .tit{ text-decoration:underline}
.focus-item .bg{ display:block; position:absolute; z-index:-1; top:0; left:0; width:1000px; height:1000px; background:#1f0806; filter:alpha(opacity:70); opacity:.7}
.focus-num{ position: absolute;width: 10px;height: 160px;top:50%; right: 10px; margin-top: -80px;  text-align: center;font-size: 15px;}
.focus-num a{ display:inline-block; width: 20px;height: 20px; overflow: hidden; text-indent: -111px; background: url(../img/icon.png) -48px -112px no-repeat;   cursor: pointer;}
.focus-num a:hover{ text-decoration:none}
.focus-num .current{  background-position: -48px -88px; }

.focus-con .bt{ position: absolute; width: 28px; height: 47px; background-position: -32px -128px;  top:35%; left: 0; cursor: pointer;}
.focus-con .forward{ left: auto; right: 0;background-position:  0 -128px;}
.focus-con .item1{ background:url(../img/1.jpg) top center no-repeat; height: 630px;}
.focus-con .item2{ background:url(../img/2.jpg) top center no-repeat; height: 700px;}
.focus-con .item3{ background:url(../img/3.jpg) top center no-repeat; height: 700px;}
.focus-con .item4{ background:url(../img/4.jpg) top center no-repeat; height: 630px;}
.focus-con .item5{ background:url(../img/5.jpg) top center no-repeat; height: 630px;}
.focus-con .item6{ background:url(../img/6.jpg) top center no-repeat; height: 630px;}

h2{ font-size: 30px; font-weight: bold; color: #ca5100 ; line-height: 40px;}
h2 em{ font-weight: bold;  font-size: 60px; color: #e70000}
.focus-item .txt-box{ top: 75px; right: 161px;}
.focus-item .txt-box p, .con1-c1 .text p{ font-size: 22px; color: #000; line-height: 42px;}

.focus-item .btn-detail{ border: 2px solid #000; width: 124px; height: 44px; line-height: 44px; text-align: center; }

.page-2 { background: #f6f6f6}
.page-2 .banner{ height: 330px; background: url(../img/banner1.jpg) center top no-repeat;}
.con1-c1{ width: 646px; margin: 20px auto 20px;}
.con1-c1 .text{ padding: 10px;}
.con1-c1 .img{ padding: 20px 0 }
.con1-c2-c1{ padding: 10px 0 }
.con1-c2-c1 .img{  width: 186px; text-align: center;}
.con1-c2-c2 .img{ padding: 0}

.con1-c2 .text{ padding: 10px 0 0 45px; font-size: 16px; color: #333; line-height: 26px;}

.con2{ margin-top: 40px; border-top: 1px solid #dfdfdf; padding:40px 0}
.video-list li{ position: relative; float: left; width: 186px; height: 204px; margin: 0 32px;}
.video-list li a{ display: block;  width: 186px; height: 204px; position: relative;}
.video-list img{width: 180px; height: 200px; padding: 2px 3px;}
.video-list .cover{position: absolute; left: 0; top: 0; width: 180px; height: 200px; padding: 2px 3px; background: url(../img/video-bg.png) no-repeat; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src='../img/video-bg.png')}
.video-list a:hover .cover{ background: url(../img/video-bg-hover.png) no-repeat;  _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src='../img/video-bg-hover.png')}
.pop-video{ width: 480px; height: 522px; left: 50%; margin-left: -240px; top:20%; display: none; position: fixed; z-index: 100 }
.pop-mask{ width: 100%; left: 0; top: 0; height: 100%; background: #000; opacity: 0.5; filter:alpha(opacity=50);display: none; position: fixed; }
.icon-close{ width: 61px; height: 61px; background-position: -136px -72px; right: -61px; top: 0}


/*page3*/
.page-3{ background: #f6f6f6}
.banner3{ background: url(../img/banner3.jpg) top center no-repeat; height: 329px;}

.con3-c1 .bd img{ display: block; margin: 0 auto;}
.con3 .hd .tit{ font-size: 30px; color: #333; font-weight: bold;}
.con3-c1 .hd .info{ font-size: 16px; color: #666; line-height: 26px; margin-top: 20px;}

.con3-c2 {  }
.con3-c2 .bd{}
.con3-c2-c1{background: url(../img/p2bg1.jpg) left top no-repeat; height: 316px; width: 100%; margin-top: 40px;  position: relative; }
.con3-c2 .img{  top: -20px }
.con3-c2-c1 .img{ right: 0}
.con3-c2-c2 .img{ left: 0}

.con3-c2-c2{background: url(../img/p2bg2.jpg) right top no-repeat; height: 316px; width: 100%; margin-top: 100px;   position: relative; padding: 20px 0}
.con3-c2-c3{background: url(../img/p2bg3.jpg) right top no-repeat;}
.con3-c2-c4{background: url(../img/p2bg4.jpg) right top no-repeat;}
